<h1><%= t('views.books.edit.title') %></h1>

<%= render "form", book: @book %>

<br>

<div class="page-nav">
  <%= link_to t('views.books.edit.show_book'), book_path(@book, locale: I18n.locale) %> |
  <%= link_to t('views.books.edit.back_to_books'), books_path(locale: I18n.locale) %>
</div>
