<h1>Editing book</h1>

<%= render "form", book: @book %>

<br>

<div class="page-nav">
  <%= link_to "Show this book", book_path(@book, locale: I18n.locale) %> |
  <%= link_to "Back to books", books_path(locale: I18n.locale) %>
</div>
