<h1><%= t('views.books.new.title') %></h1>

<%= render "form", book: @book %>

<br>

<div class="page-nav">
  <%= link_to t('views.books.new.back_to_books'), books_path(locale: I18n.locale) %>
</div>
